body {
    background: #121212;
    font: 12px normal Arial;
    font-family: "Raleway",Arial,Helvetica,sans-serif;
    color:#fff;
  }
.container {
    height: 100vh;
    width: 100%;
    background-image: url(images/imgkeyboard.jpg);
    background-position: center;
    background-size: cover;
    padding-right: 3%;
    padding-left: 5%;
    box-sizing: border-box;
    position: relative;
}
.header {
    width: 100%;
    height: 15vh;
    margin-top: -5%;
    display: flex;
    align-items: center;
}
.logo {
    width: 110px;
    margin-top: 10px;
    cursor: pointer;
}
nav {
    flex: 1;
    padding-left: 500px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.content {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    color: #fff;
    justify-content: space-between;
}
.content .text {
    position: relative;
    max-width: 600px;
    color: white;
  
}
.content .text h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 80px;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-size: 35px;
    color: rgb(0, 0, 0);
}
.content .text h1 span {
    font-size: 20px;
}
.content .text p {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .1em;
    margin-top: 40px;
    color: #000000;
    text-align: justify;
    font-family: cursive;
 }
.pepsi {
    display: flex;
   
    position: absolute;
    width: 60%;
    padding-left: 400px;
    justify-content: flex-end;
}
.pic { 
   
    border-radius: 50%;
    width: 40%;
    border: 5px solid #F0A500;
}
.btn {
    background-color: rgba(255, 255, 255, 0);
    width: 210px;
  height: 45px;
  border:1px solid rgb(255, 255, 255);
  margin-top: 3%;
  font-family: Poly;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 42px;
  color :rgb(255, 255, 255);
  background-color: rgba(6, 6, 92, 0.76);
}
.btn:hover{transform: scale(1.1);
    z-index: 2;
    height: 45px;
    border:none;
    background-color: rgb(6, 6, 92);
    transition: 0.7s;
    border: 3px solid rgba(190, 128, 78, 0.925);;
   
  
  }
  .social {
    background-color: rgb(0, 0, 0); /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
    cursor: pointer;
  }
.comm {
    margin-left: 40%;
    padding-top: 10%;
}
#about {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
   
}
.basic {
    text-align: justify;
    display:flex;
    font-family: cursive;
    border: solid 1px rgba(85, 85, 85, 0.212);
    background-color: rgb(0, 0, 0);
    box-shadow:  0 0 10px  rgb(0, 0, 0);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}
.edu {
    font-family: cursive;
    background-color: rgb(0, 0, 0);
    width: 100%;
    
    
}
.basicc {
    width: 50%;
    margin-left: 23%;
    font-family: cursive;
    border: solid 1px rgba(85, 85, 85, 0.212);
    background-color: rgb(0, 0, 0);
    box-shadow:  0 0 10px  rgb(0, 0, 0);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}
h2 {
    font-size: 2.7em;
    font-weight: normal;
    padding: 10px 0 16px 0;
    margin: 0 0 30px;
    text-align:center;
    color:#2187e7;
    text-shadow: 1px 1px 5px #000, 0 0 10px #2187e7, 0 0 20px #2187e7;
    background:#000;
    border-radius:2px;
    border: 1px solid #2187e7;  
    box-shadow: 0px 0px 50px -8px #2187e7;
  }
  h2.plataformas {
    border: 1px solid #9ACD32;  
    box-shadow: 0px 0px 50px -8px #9ACD32;
    color: #9ACD32;
    text-shadow: 1px 1px 5px #000, 0 0 10px #9ACD32, 0 0 20px #9ACD32;
  }
  
  h2.programas {
    border: 1px solid #FF4500;  
    box-shadow: 0px 0px 50px -8px #FF4500;
    color: #FF4500;
    text-shadow: 1px 1px 5px #000, 0 0 10px #FF4500, 0 0 20px #FF4500;
  }
   
  .container {
    width: 90%;
    padding:5%;
    margin: 0 auto; 
    overflow: hidden;
  }
   
  .col {
    width: 23%;
    margin: 0 5%;
    position: relative;
    float: left;
    font-size: 12px;
 
  } 
  /*.col { width:101%; }*/
  .skill { 
    list-style:none; 
    padding-top:30px;
  }
  
  .skill li { 
    margin-bottom:70px; 
    background:#030303; 
    height:6px; 
    border-radius:3px; 
    border-left:1px solid #111; 
    border-top:1px solid #111; 
    border-right:1px solid #333; 
    border-bottom:1px solid #333;  
  }
  
  .skill li em { 
    position:relative; 
    font-style: normal;
    font-size: 14px;
    text-align: center;
    color:#dedede;
    top:-28px;
  }
  
  .blueline { 
    height: 3px; 
    margin: 2px 0; 
    background: #2187e7; 
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.6);
  }
  .greenline { 
    height: 3px; 
    margin: 2px 0; 
    background: #9ACD32; 
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(173, 255, 47,0.4);
  }
  .redline { 
    height: 3px; 
    margin: 2px 0; 
    background: #FF4500; 
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(255, 69, 0,0.4);
  }
  
  .titulo      { opacity:1;  animation:titulo 5s ease-out;     }
  
  /*programacion*/
  .html        { width:90%;  animation:html 2s ease-out;       }
  .css         { width:95%;  animation:css 2s ease-out;        }
  .php         { width:70%;  animation:php 2s ease-out;        }
  .javascript  { width:50%;  animation:javascript 2s ease-out; }
  .jquery      { width:30%;  animation:jquery 2s ease-out;     }
  
  /*plataformas*/
  .wordpress   { width:80%;  animation:wordpress 2s ease-out;  }
  .prestashop  { width:60%;  animation:prestashop 2s ease-out; }
  .joomla      { width:40%;  animation:joomla 2s ease-out;     }
  .blogger     { width:70%;  animation:blogger 2s ease-out;    }
  .tridion      { width:60%;  animation:tridion 2s ease-out;     }
  
  /*programas*/
  .dreamweaver { width:90%;  animation:dreamweaver 2s ease-out;}
  .illustrator { width:30%;  animation:illustrator 2s ease-out;}
  .photoshop   { width:70%;  animation:photoshop 2s ease-out;  }
  .premiere    { width:50%;  animation:premiere 2s ease-out;   }
  .flash       { width:60%;  animation:flash 2s ease-out;      }
  
  
  @keyframes titulo      { 0% { opacity:0; } 100% { opacity:1; }  }
  
  /*programacion*/
  @keyframes html        { 0% { width:0px; } 100% { width:90%; }  }
  @keyframes css         { 0% { width:0px; } 100% { width:95%; }  }
  @keyframes php         { 0% { width:0px; } 100% { width:70%; }  }
  @keyframes javascript  { 0% { width:0px; } 100% { width:50%; }  }
  @keyframes jquery      { 0% { width:0px; } 100% { width:30%; }  }
  
  /*plataformas*/
  @keyframes wordpress   { 0% { width:0px; } 100% { width:80%; }  }
  @keyframes prestashop  { 0% { width:0px; } 100% { width:60%; }  }
  @keyframes joomla      { 0% { width:0px; } 100% { width:40%; }  }
  @keyframes blogger     { 0% { width:0px; } 100% { width:70%; }  }
  @keyframes tridion      { 0% { width:0px; } 100% { width:60%; }  }
  
  /*programas*/
  @keyframes dreamweaver { 0% { width:0px; } 100% { width:90%; }  }
  @keyframes illustrator { 0% { width:0px; } 100% { width:30%; }  }
  @keyframes photoshop   { 0% { width:0px; } 100% { width:70%; }  }
  @keyframes premiere    { 0% { width:0px; } 100% { width:50%; }  }
  @keyframes flash       { 0% { width:0px; } 100% { width:60%; }  }
  
  /*media queries*/
  @media (max-width: 1200px){
    h2 {font-size:2.2em;}
  }
  @media (max-width: 980px){
    h2 {font-size:1.8em;}
  }
  @media (max-width: 767px){
    h2 {font-size:1.4em;}
  }
  @media (max-width: 580px){
    h2 {font-size:1.1em; padding:10px 0;}
  }
  @media (max-width: 480px){ 
    h2 {font-size:2.2em; padding: 10px 0 15px 0;}
    .col {width: 90%;}
  }


/* Parent Container */
.content_img{
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 35px;
    
}

/* Child Text Container */
.content_img div{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;  
    transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.content_img:hover{
    cursor: pointer;
}    

.content_img:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7;        
}

.proj{
   padding-top: 10%;
 top: 10%;
  margin-left: 13%;
 
}
.detail{
    background-color: black;
    border: 1px solid #F0A500;  
    box-shadow: 0px 0px 50px -8px #F0A500;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0), 0 0 10px #99cd3280, 0 0 20px #99cd3281;
   
}
form { max-width:400px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 10px;
  background-color: transparent;
  border:2px solid #F0A500;
  transition: all 0.3s;

  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #F0A500; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:20px;

  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

.positioning{
    margin-top: 24%;
}

